* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.charada {
    background-color: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    padding: 30px 60px;
}